body{
    background-image: url("../img/sky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#text-const{
  padding-top: 15em;
  text-align: center;
}

#img-const{
  padding-top: 10em;
}
@media screen and (max-device-width:720px) {
  #img-const{
    padding-top: 0;

  }
  #text-const{
    padding-top: 0;
    text-align: center;
  }

}
