body{
    background-image: url("../img/sky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#text-const{
  padding-top: 15em;
  text-align: center;
}

#img-const{
  padding-top: 10em;
}

h1 ,h4 {
  font-weight: bolder;
}
@media screen and (max-device-width:720px) {
  #img-const{
    padding-top: 5em !important;
    padding: 0;
  }
  #text-const{
    padding-top: 4em;
    text-align: center;
  }

}
